.tx-dark {
    color: $dark !important;
}

.tx-light {
    color: $light !important;
}

.tx-primary{
    color: $primary !important;
}

.tx-secondary{
    color: $secondary !important;
}

.tx-secondary{
    color: $secondary !important;
}

.tx-danger{
    color: $danger !important;
}
.tx-grey-darken-1{
    color: $grey-darken-1 !important;
}




.bg-dark {
    background-color: $dark !important;
}

.bg-light {
    background-color: $light !important;
}

.bg-primary{
    background-color: $primary !important;
}

.bg-secondary{
    background-color: $secondary !important;
}

.bg-secondary{
    background-color: $secondary !important;
}
.bg-danger {
    background-color: $danger !important;
}
.bg-grey {
    background-color: $grey !important;
}
.bg-grey-darken-1 {
    background-color: $grey-darken-1 !important;
}

.border{
    border: 1px solid $dark !important;
}