.h1{
    font-size: clamp(2rem, 6vw, 3.6rem) !important;
}
.h2{
    font-size: clamp(1.8rem, 4vw, 2.4rem) !important;
}
.h3{
    font-size: clamp(1.5rem, 2.67vw, 1.8rem) !important;
}
.h4{
    font-size: clamp(1.25rem, 2.25vw, 1.5rem) !important;
}
.h5{
    font-size: clamp(1.125rem, 2vw, 1.25rem) !important;
}
.h6{
    font-size: clamp(1rem, 1vw, 1.125rem) !important;
}
.small {
    font-size: 0.93rem;
}
.smaller {
    font-size: 12px;
}